.pointer {
  cursor: pointer;
}

@media (max-width: 992px) {
  .header-fixed button.toggle-bar.core-nav-toggle,
  .header-fixed button.toggle-bar.core-nav-toggle {
    color: unset;
  }
}

/* Nav bar */
.header-dark-transparent.header-fixed nav .btn.btn-order-by-filt {
  color: #606c8e;
}

.header-dark-transparent nav .btn.btn-order-by-filt {
  color: #ffffff;
}

section {
  padding: 20px 0 80px;
  position: relative;
}

.list-slide-box {
  width: 400px;
}

.goodgreen-skin .btn.btn-theme-light,
.goodgreen-skin .tag {
  font-size: 13px;
  color: #19b521;
  font-weight: 500;
  background: rgba(25, 181, 33, 0.1);
  padding: 3px 16px 6px 16px;
  border-radius: 50px;
  margin-left: 10px;
  vertical-align: middle;
}

.yellow-skin .btn.btn-theme-light,
.yellow-skin .tag {
  font-size: 13px;
  color: #ffa50d;
  font-weight: 500;
  background: rgba(255, 165, 13, 0.1);
  padding: 3px 16px 6px 16px;
  border-radius: 50px;
  margin-left: 10px;
  vertical-align: middle;
}

.social-login ul li {
  display: inline-block;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 100%;
  width: 50%;
  list-style: none;
  padding: 0 10px;
}

/* react-bootstrap: Carousel */

.w-100 {
  object-fit: cover;
  /* height: auto; */
  max-height: 400px;
}

.modal-90w {
  max-width: 90% !important;
}

.modal-dialog img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .w-100 {
    max-height: 200px;
  }
}
