.pointer {
  cursor: pointer;
}

.list-slide-box {
  width: 400px;
}

.goodgreen-skin .btn.btn-theme-light,
.goodgreen-skin .tag {
  font-size: 13px;
  color: #19b521;
  font-weight: 500;
  background: rgba(25, 181, 33, 0.1);
  padding: 3px 16px 6px 16px;
  border-radius: 50px;
  margin-left: 10px;
  vertical-align: middle;
}

/* react-bootstrap: Carousel */

.w-100 {
  object-fit: cover;
  /* height: auto; */
  max-height: 400px;
}

.modal-90w {
  max-width: 90% !important;
}

.modal-dialog img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .w-100 {
    max-height: 200px;
  }
}
